@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Estilos para el mapa de Google */
.gm-style {
  border-radius: 1rem;
}
